<section class="about">
  <div class="container about-container">
    <div class="about-info">
      <h2 class="section-title about-container__title">Tocha Online — это</h2>
      <ul class="about-info__list list-reset">
        <li class="about-info__item">
          <h5 class="about-info__title">Ничего лишнего</h5>
          <p class="about-info__descr">
            Отсутствие лишних приложений для операторов. Оператору не нужно учиться работать с чатом
          </p>
        </li>
        <li class="about-info__item">
          <h5 class="about-info__title">Простота</h5>
          <p class="about-info__descr">
            Простая установка на сайт
          </p>
        </li>
        <li class="about-info__item">
          <h5 class="about-info__title">Несколько ассистентов</h5>
          <p class="about-info__descr">
            Возможность подключения нескольких ассистентов
          </p>
        </li>
        <li class="about-info__item">
          <h5 class="about-info__title">Кастомизация</h5>
          <p class="about-info__descr">
            Настройка интерфейса под нужды сайта
          </p>
        </li>
      </ul>
    </div>
    <img src="img/phone.png" alt="Наглядный пример как будет выглядит наш телегам чат на вашем сайте" class="about-img">
  </div>
</section>
