<section class="contacts">
    <div class="container contacts-container">
        <div class="content">
            <form action="https://jsonplaceholder.typicode.com/posts" method="POST" class="form">
                <p class="form__title">Подключите Telegram чат уже сегодня</p>
                <input type="mail" placeholder="Введите e-mail" class="form__input">
                <button type="submit" class="btn-reset form__btn">Отправить</button>
            </form>
        </div>
    </div>
</section>
