<section class="feedback">
  <div class="container feedback-container">
    <h2 class="section-title feedback-container__title">Отзывы клиентов</h2>
    <div class="feedback-wrapper swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="feedback-card">
            <h5 class="feedback-card__title">Как же удобно!</h5>
            <p class="feedback-card__text">
              В рамках спецификации современных стандартов, базовые сценарии поведения пользователей, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут преданы социально-демократической анафеме.
            </p>
          </article>
          <div class="feedback-info">
            <img src="img/client-1.png" alt="Фотография Анны Купер" class="feedback-info__img">
            <span class="info-wrapper">
              <p class="feedback-info__name">Анна Купер</p>
              <span class="feedback-info__site">romashka.ru </span>
            </span>
          </div>
        </div>
        <div class="swiper-slide">
          <article class="feedback-card">
            <h5 class="feedback-card__title">Теперь мы идем в ногу со временем</h5>
            <p class="feedback-card__text">
              А ещё интерактивные прототипы превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Банальные, но неопровержимые выводы, а также тщательные исследования конкурентов формируют сеть.
            </p>
          </article>
          <div class="feedback-info">
            <img src="img/client-2.png" alt="Фотография Андрей Васильева" class="feedback-info__img">
            <span class="info-wrapper">
              <p class="feedback-info__name">Андрей Васильев</p>
              <span class="feedback-info__site">samogon-ont.ru</span>
            </span>
          </div>
        </div>
      </div>
      <div class="swiper-pagination-bull"></div>
    </div>
  </div>
</section>
