<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <a href="#" class="footer-top__link">
        <img src="img/logo.png" alt="Логотип сайта" class="footer-top__img">
        tocha
      </a>
      <ul class="footer-top__list list-reset">
        <li class="footer-top__item footer-item">
          <h3 class="footer-item__title">Telegram чат</h3>
          <nav class="footer-item__nav">
            <ul class="footer-item__list list-reset">
              <li class="footer-item__item"><a href="#" class="footer-item__link">О нас</a></li>
              <li class="footer-item__item"><a href="#" class="footer-item__link">Партнеры</a></li>
              <li class="footer-item__item"><a href="#" class="footer-item__link">Инструкция</a></li>
              <li class="footer-item__item"><a href="#" class="footer-item__link">Цены</a></li>
              <li class="footer-item__item"><a href="#" class="footer-item__link">Контакты</a></li>
            </ul>
          </nav>
        </li>
        <li class="footer-top__item footer-item">
          <h3 class="footer-item__title">Поддержка</h3>
          <nav class="footer-item__nav">
            <ul class="footer-item__list list-reset">
              <li class="footer-item__item"><a href="#" class="footer-item__link">Центр поддержки</a></li>
              <li class="footer-item__item"><a href="#" class="footer-item__link">Политика<br>конфеденциальности</a></li>
              <li class="footer-item__item"><a href="#" class="footer-item__link">Документы оферта</a></li>
              <li class="footer-item__item"><a href="#" class="footer-item__link">Документы оферта</a></li>
              <li class="footer-item__item"><a href="#" class="footer-item__link">Статус</a></li>
            </ul>
          </nav>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <p class="footer-bottom__text">&copy;&nbsp;2021&nbsp;Tocha. Все права защищены</p>
    </div>
  </div>
</footer>
