<header class="header">
  <div class="container header-container">
    <a href="#" class="header__link">
      <img src="img/logo.png" alt="Логотип сайта">
      tocha
    </a>
    <div class="header__btns">
      <button class="btn btn-reset header__btn--login">Вход</button>
      <button class="btn btn-reset header__btn--register">Регистрация</button>
    </div>
  </div>
</header>
