<section class="hero">
  <div class="container hero-container">
    <div class="content">
      <h1 class="content__title"><span class="violet">Telegram чат</span> на вашем сайте</h1>
      <p class="content__descr">
        Общение с клиентами станет простым
        и удобным, а подключение займет 5 минут.
        Первый месяц — <span class="violet">бесплатно!</span>
      </p>
      <button class="btn btn-reset content__btn">Подключить</button>
    </div>
  </div>
</section>
