<section class="instruction">
  <div class="container">
    <h2 class="section-title instruction__title">Всего 3 шага для подключения Telegram чата</h2>
    <ul class="instruction-list list-reset">
      <li class="instruction-list__item instruction-item">
        <span class="instruction-item__number">1</span>
        <h4 class="instruction-item__title">Telegram bot</h4>
        <p class="instruction-item__descr">Вы создаёте Telegram бота для вашего сайта</p>
        <img src="img/phone-screen_1.png" alt="Картинка которая описывает процесса создание telegram бота"
          class="instruction-item__img">
      </li>
      <li class="instruction-list__item instruction-item">
        <span class="instruction-item__number">2</span>
        <h4 class="instruction-item__title">Подключение Tocha</h4>
        <p class="instruction-item__descr">Tocha подключает Telegram бота к вашиму сайту</p>
        <img src="img/phone-screen_2.png" alt="Картинка которая описывает процесса подключение Tocha"
          class="instruction-item__img">
      </li>
      <li class="instruction-list__item instruction-item">
        <span class="instruction-item__number">3</span>
        <h4 class="instruction-item__title">Telegram-чат</h4>
        <p class="instruction-item__descr">Консультант отвечает на вопросы посетителей сайта</p>
        <img src="img/phone-screen_3.png" alt="Картинка которая описывает процесса работы с ботом"
          class="instruction-item__img">
      </li>
    </ul>
  </div>
</section>
