<section class="tariffs">
  <div class="container tariffs-container">
    <h2 class="section-title tariffs__title">Тарифы</h2>
    <p class="section-descr">Стоимость зависит от трафика сайта</p>
    <div class="tarrifs__cards cards">
      <ul class="cards__list list-reset">
        <li class="cards__item">
          <article class="card-item">
            <span class="card-item__head">Бесплатно</span>
            <h4 class="card-item__title">Пробный период на 1 месяц</h4>
            <span class="card-item__price">0₽/первый месяц</span>
            <button class="btn btn-reset card-item__btn">Подключить за 0₽</button>
          </article>
        </li>
        <li class="cards__item">
          <article class="card-item">
            <span class="card-item__head">Базовый</span>
            <h4 class="card-item__title">Менее 1000 посещений в сутки</h4>
            <span class="card-item__price">200₽/месяц</span>
            <button class="btn btn-reset card-item__btn">Подключить за 200₽</button>
          </article>
        </li>
        <li class="cards__item">
          <article class="card-item">
            <span class="card-item__head">Премиум</span>
            <h4 class="card-item__title">Более 1000 посещений в сутки</h4>
            <span class="card-item__price">500₽/месяц</span>
            <button class="btn btn-reset card-item__btn">Подключить за 500₽</button>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>
