:root {
  --font-family: "Gilroy", sans-serif;
  --content-width: 1110px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --color-white: #fff;
  --color-violet: #685ed6;
  --color-black: #1d2530;
  --color-gray: #f4f5f7;
  --grid-gap: 30px;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
  background-color: rgba(242, 247, 255, 0.5);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}
a:focus-visible {
  outline: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.main-title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 72px;
  line-height: 130%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--color-ebony);
}
.main-title span {
  color: var(--color-primary);
}
.main-title--home {
  color: var(--color-white);
}

.main-descr {
  margin: 0;
  font-size: 20px;
  line-height: 150%;
  color: var(--color-strom);
}
.main-descr--home {
  margin-bottom: 60px;
  color: var(--color-white);
}

.btn {
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
  background-color: var(--color-violet);
  color: var(--color-white);
  -webkit-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}
.btn:hover {
  background-color: #33afe1;
}
.btn:focus-visible {
  outline: none;
  background-color: #33afe1;
}
.btn:active {
  background-color: #18e1f7;
}

.section-title {
  font-weight: 800;
  font-size: 48px;
  line-height: 32px;
  color: var(--color-black);
}

.descr {
  margin: 0;
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-strom);
}
.descr--center {
  text-align: center;
}

.section-offset {
  padding-top: 120px;
}

.violet {
  color: var(--color-violet);
}

.header {
  padding: 32px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 700;
  font-size: 28.1106px;
  line-height: 21px;
  color: var(--color-black);
}
.header__btn--login {
  margin-right: 12px;
  background-color: #f1e4ff;
  color: var(--color-violet);
  -webkit-transition: background-color 0.1s linear, color 0.1s linear;
  -o-transition: background-color 0.1s linear, color 0.1s linear;
  transition: background-color 0.1s linear, color 0.1s linear;
}
.header__btn--login:hover {
  background-color: #c39bfb;
}
.header__btn--login:active {
  background-color: #685ed6;
  color: var(--color-white);
}
.header__btn--login:focus-visible {
  background-color: #685ed6;
  color: var(--color-white);
}

.hero .hero-container {
  padding-top: 198px;
  padding-bottom: 285px;
  background-image: url(../img/hero.svg);
  background-repeat: no-repeat;
  background-size: 723px 583px;
  background-position: right 167px;
}
.hero .content {
  max-width: 482px;
}
.hero .content__title {
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 50px;
  line-height: 60px;
  color: var(--color-black);
}
.hero .content__descr {
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 34px;
  color: var(--color-black);
}
.hero .content__descr .violet {
  font-weight: 700;
}
.hero .content__btn {
  padding: 12px 32px;
}

.about-container {
  padding-top: 70px;
  padding-bottom: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.about-container__title {
  margin-bottom: 68px;
}
.about-container .about-info {
  margin-right: 76px;
}
.about-container .about-info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 522px;
}
.about-container .about-info__item {
  padding-left: 94px;
}
.about-container .about-info__item:not(:last-child) {
  margin-bottom: 48px;
}
.about-container .about-info__item:nth-child(1) {
  background-image: url(../img/icon-1.svg);
  background-position: left center;
  background-repeat: no-repeat;
}
.about-container .about-info__item:nth-child(2) {
  background-image: url(../img/icon-2.svg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
}
.about-container .about-info__item:nth-child(3) {
  background-image: url(../img/icon-3.svg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
}
.about-container .about-info__item:nth-child(4) {
  background-image: url(../img/icon-4.svg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
}
.about-container .about-info__title {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-black);
}
.about-container .about-info__descr {
  font-size: 16px;
  line-height: 26px;
  color: var(--color-black);
}

.tariffs {
  background-color: var(--color-white);
}
.tariffs .tariffs-container {
  padding-top: 100px;
  padding-bottom: 538px;
}
.tariffs__title {
  margin-bottom: 16px;
  font-size: 46px;
  line-height: 64px;
  text-align: center;
}
.tariffs .section-descr {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}
.tariffs .cards__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.tariffs .cards__item {
  margin-bottom: var(--grid-gap);
  max-width: calc(33.3333333333% - var(--grid-gap));
  width: 100%;
}
.tariffs .cards .card-item {
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fcfeff;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
}
.tariffs .cards .card-item__head {
  margin-bottom: 40px;
  width: 100%;
  font-weight: 800;
  font-size: 24px;
  line-height: 48px;
  color: var(--color-violet);
  background: rgba(104, 94, 214, 0.05);
  text-align: center;
}
.tariffs .cards .card-item__title {
  margin-bottom: 32px;
  max-width: 255px;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  color: var(--color-black);
  text-align: center;
}
.tariffs .cards .card-item__price {
  margin-bottom: 46px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-black);
}

.instruction {
  margin-bottom: -190px;
  -webkit-transform: translateY(-470px);
  -ms-transform: translateY(-470px);
  transform: translateY(-470px);
}
.instruction__title {
  margin-bottom: 56px;
  text-align: center;
}
.instruction .instruction-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-image: url(../img/lines.png);
  background-repeat: no-repeat;
  background-position: 10px -18px;
}
.instruction .instruction-list .instruction-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.instruction .instruction-list .instruction-item__number {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  border-radius: 100px;
  background-color: #f1e4ff;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  color: var(--color-violet);
}
.instruction .instruction-list .instruction-item__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-black);
}
.instruction .instruction-list .instruction-item__descr {
  margin-bottom: var(--grid-gap);
  max-width: 255px;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
}
.instruction .instruction-list .instruction-item:nth-child(2) {
  -webkit-transform: translateY(70px);
  -ms-transform: translateY(70px);
  transform: translateY(70px);
}

.feedback-container {
  padding-top: 45px;
  padding-bottom: 80px;
  background-image: url(../img/quote-mark.png);
  background-repeat: no-repeat;
  background-position: top right;
}
.feedback-container__title {
  margin-bottom: 48px;
  text-align: center;
}
.feedback-container .feedback-wrapper {
  padding-bottom: 32px;
}
.feedback-container .feedback-card {
  margin-bottom: 16px;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 32px 32px 68px;
  background-color: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
}
.feedback-container .feedback-card::before {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 50%;
  width: 0;
  height: 0;
  border-width: 10px 7px 0 7px;
  border-color: var(--color-white) transparent transparent transparent;
  border-style: solid;
}
.feedback-container .feedback-card__title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #18191f;
}
.feedback-container .feedback-card__text {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #18191f;
}
.feedback-container .feedback-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.feedback-container .feedback-info__img {
  margin-right: 16px;
}
.feedback-container .feedback-info__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-black);
}
.feedback-container .feedback-info__site {
  font-size: 14px;
  line-height: 24px;
  color: var(--color-black);
}
.feedback-container .swiper-pagination-bull {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  z-index: 10;
}
.feedback-container .bull {
  display: block;
  position: relative;
  background: transparent;
  z-index: 12;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 2px solid #685ED6;
  opacity: 50%;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.feedback-container .bull:not(:last-child) {
  margin-right: 12px;
}
.feedback-container .bull:hover {
  opacity: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.feedback-container .bull:focus {
  outline: none;
}
.feedback-container .bull-active::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.feedback-container .bull-active {
  background: var(--color-violet);
  opacity: 100%;
}

.contacts {
  background-color: var(--color-white);
}
.contacts .contacts-container {
  padding-top: 90px;
  padding-bottom: 90px;
}
.contacts .contacts-container .content {
  padding: 48px 0 74px 0;
  background-image: url(../img/contact-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.contacts .contacts-container .form {
  position: relative;
  padding-left: 480px;
  width: 100%;
}
.contacts .contacts-container .form::before {
  content: "";
  position: absolute;
  left: 80px;
  bottom: -74px;
  width: 314px;
  height: 271px;
  background-image: url(../img/contact-phone.png);
  background-repeat: no-repeat;
}
.contacts .contacts-container .form__title {
  margin-bottom: 32px;
  max-width: 445px;
  font-weight: 800;
  font-size: 33px;
  line-height: 41px;
  color: var(--color-white);
}
.contacts .contacts-container .form__input {
  padding: 14px 16px;
  font-size: 15px;
  line-height: 24px;
  border: 1px solid transparent;
  border-radius: 5px 0px 0px 5px;
  color: var(--color-gray);
  background: #F4F5F7;
  -webkit-transition: border-color 0.1s linear;
  -o-transition: border-color 0.1s linear;
  transition: border-color 0.1s linear;
}
.contacts .contacts-container .form__input:hover {
  border-color: #e8e6f8;
}
.contacts .contacts-container .form__input:focus-visible {
  outline: none;
  border-color: #605dec;
}
.contacts .contacts-container .form__btn {
  padding: 14px 24px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  border: none;
  border-radius: 0px 5px 5px 0px;
  color: var(--color-white);
  background: #18191F;
  -webkit-transform: translate(-4px, -1px);
  -ms-transform: translate(-4px, -1px);
  transform: translate(-4px, -1px);
  -webkit-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}
.contacts .contacts-container .form__btn:hover, .contacts .contacts-container .form__btn:active, .contacts .contacts-container .form__btn:focus-visible {
  background-color: var(--color-black);
}

.footer {
  position: relative;
  background-color: var(--color-black);
}
.footer .footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 104px;
  padding-bottom: 78px;
}
.footer .footer-top__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 24px;
  color: var(--color-white);
}
.footer .footer-top__img {
  margin-bottom: 10px;
  width: 81px;
  height: 59px;
}
.footer .footer-top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .footer-top__item {
  margin-right: 126px;
}
.footer .footer-top__item:nth-child(2) {
  margin-right: 188px;
}
.footer .footer-item__title {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-gray);
}
.footer .footer-item__item {
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 26px;
}
.footer .footer-item__link {
  color: var(--color-gray);
}
.footer .footer-bottom {
  padding-top: 25px;
  padding-bottom: 23px;
  background-color: #141b23;
}
.footer .footer-bottom__text {
  font-size: 14px;
  line-height: 24px;
  color: var(--color-gray);
}
/*# sourceMappingURL=main.css.map */