// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Gilroy", sans-serif;
  --content-width: 1110px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --color-white: #fff;
  --color-violet: #685ed6;
  --color-black: #1d2530;
  --color-gray: #f4f5f7;

  // sizes

  --grid-gap: 30px;
}
