.about-container {
  padding-top: 70px;
  padding-bottom: 82px;
  @include flex-v-center;

  &__title {
    margin-bottom: 68px;
  }

  .about-info {
    margin-right: 76px;

    &__list {
      @include flex-column;
      max-width: 522px;
    }

    &__item {
      padding-left: 94px;
    }

    &__item:not(:last-child) {
      margin-bottom: 48px;
    }

    &__item:nth-child(1) {
      background-image: url(../img/icon-1.svg);
      background-position: left center;
      background-repeat: no-repeat;
    }

    &__item:nth-child(2) {
      background-image: url(../img/icon-2.svg);
      background-position: left center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &__item:nth-child(3) {
      background-image: url(../img/icon-3.svg);
      background-position: left center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &__item:nth-child(4) {
      background-image: url(../img/icon-4.svg);
      background-position: left center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &__title {
      margin-bottom: 8px;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      color: var(--color-black);
    }

    &__descr {
      font-size: 16px;
      line-height: 26px;
      color: var(--color-black);
    }
  }
}
