.contacts {
  background-color: var(--color-white);

  .contacts-container {
    padding-top: 90px;
    padding-bottom: 90px;

    .content {
      padding: 48px 0 74px 0;
      background-image: url(../img/contact-bg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    .form {
      position: relative;
      padding-left: 480px;
      width: 100%;

      &::before {
        content: '';
        position: absolute;
        left: 80px;
        bottom: -74px;
        width: 314px;
        height: 271px;
        background-image: url(../img/contact-phone.png);
        background-repeat: no-repeat;
      }

      &__title {
        margin-bottom: 32px;
        max-width: 445px;
        font-weight: 800;
        font-size: 33px;
        line-height: 41px;
        color: var(--color-white);
      }

      &__input {
        padding: 14px 16px;
        font-size: 15px;
        line-height: 24px;
        border: 1px solid transparent;
        border-radius: 5px 0px 0px 5px;
        color: var(--color-gray);
        background: #F4F5F7;
        transition: border-color .1s linear;

        &:hover {
          border-color: #e8e6f8;
        }

        &:focus-visible {
          outline: none;
          border-color: #605dec;
        }
      }

      &__btn {
        padding: 14px 24px;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        border: none;
        border-radius: 0px 5px 5px 0px;
        color: var(--color-white);
        background: #18191F;
        transform: translate(-4px, -1px);
        transition: background-color .1s linear;

        &:hover,
        &:active,
        &:focus-visible {
          background-color: var(--color-black);
        }
      }
    }
  }
}
