.feedback-container {
  padding-top: 45px;
  padding-bottom: 80px;
  background-image: url(../img/quote-mark.png);
  background-repeat: no-repeat;
  background-position: top right;

  &__title {
    margin-bottom: 48px;
    text-align: center;
  }

  .feedback-wrapper {
    padding-bottom: 32px;
  }

  .feedback-card {
    margin-bottom: 16px;
    height: 100%;
    position: relative;
    @include flex-column-center;
    padding: 32px 32px 68px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);

    &::before {
      content: '';
      position: absolute;
      bottom: -9px;
      left: 50%;
      width: 0;
      height: 0;
      border-width: 10px 7px 0 7px;
      border-color: var(--color-white) transparent transparent transparent;
      border-style: solid;
    }

    &__title {
      margin-bottom: 8px;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      color: #18191f;
    }

    &__text {
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      color: #18191f;
    }
  }

  .feedback-info {
    display: flex;
    align-items: center;
    justify-content: center;

    &__img {
      margin-right: 16px;
    }

    &__name {
      font-weight: 700;
      font-size: 18px;
      line-height: 28px;
      color: var(--color-black);
    }

    &__site {
      font-size: 14px;
      line-height: 24px;
      color: var(--color-black);
    }
  }

  .swiper-pagination-bull {
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: center;
    width: 100%;
    z-index: 10;
  }

  .bull {
    display: block;
    position: relative;
    background: transparent;
    z-index: 12;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 2px solid #685ED6;
    opacity: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .bull:not(:last-child) {
    margin-right: 12px;
  }

  .bull:hover {
    opacity: 100%;
    transition: all 0.3s ease-in-out;
  }

  .bull:focus {
    outline: none;
  }

  .bull-active::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    transition: all 0.3s ease-in-out;
  }

  .bull-active {
    background: var(--color-violet);
    opacity: 100%;
  }
}
