.footer {
    position: relative;
    background-color: var(--color-black);

    .footer-top {
      display: flex;
      justify-content: space-between;
      padding-top: 104px;
      padding-bottom: 78px;

      &__link {
        @include flex-column-center;
        font-weight: 700;
        font-size: 32px;
        line-height: 24px;
        color: var(--color-white);
      }

      &__img {
        margin-bottom: 10px;
        width: 81px;
        height: 59px;
      }

      &__list {
        display: flex;
      }

      &__item {
        margin-right: 126px;
      }

      &__item:nth-child(2) {
        margin-right: 188px;
      }
    }

    .footer-item {
      &__title {
        margin-bottom: 32px;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: var(--color-gray);
      }

      &__item {
        margin-bottom: 12px;
        font-size: 16px;
        line-height: 26px;
      }

      &__link {
        color: var(--color-gray);
      }
    }

    .footer-bottom {
      padding-top: 25px;
      padding-bottom: 23px;
      background-color: #141b23;

      &__text {
        font-size: 14px;
        line-height: 24px;
        color: var(--color-gray);
      }
    }
}
