.header {
  padding: 32px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  .header-container {
    @include flex-all-sb;
  }
    &__link {
        @include flex-v-center;
        font-weight: 700;
        font-size: 28.1106px;
        line-height: 21px;
        color: var(--color-black);
    }

    &__btn {
      &--login {
        margin-right: 12px;
        background-color: #f1e4ff;
        color: var(--color-violet);
        transition: background-color .1s linear, color .1s linear;

        &:hover {
          background-color: #c39bfb;
        }

        &:active {
          background-color: #685ed6;
          color: var(--color-white);
        }

        &:focus-visible {
          background-color: #685ed6;
          color: var(--color-white);
        }
      }
    }
}
