.hero {
  .hero-container {
    padding-top: 198px;
    padding-bottom: 285px;
    background-image: url(../img/hero.svg);
    background-repeat: no-repeat;
    background-size: 723px 583px;
    background-position: right 167px;
  }
  .content {
    max-width: 482px;

    &__title {
      margin-bottom: 24px;
      font-weight: 800;
      font-size: 50px;
      line-height: 60px;
      color: var(--color-black);
    }

    &__descr {
      margin-bottom: 32px;
      font-size: 24px;
      line-height: 34px;
      color: var(--color-black);

      .violet {
        font-weight: 700;
      }
    }

    &__btn {
      padding: 12px 32px;
    }
  }
}
