.instruction {
  margin-bottom: -190px;
  transform: translateY(-470px);
  &__title {
    margin-bottom: 56px;
    text-align: center;
  }

  .instruction-list {
    display: flex;
    justify-content: space-between;
    background-image: url(../img/lines.png);
    background-repeat: no-repeat;
    background-position: 10px -18px;

    .instruction-item {
      @include flex-column-center;

      &__number {
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 72px;
        height: 72px;
        border-radius: 100px;
        background-color: #f1e4ff;
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        color: var(--color-violet);
      }

      &__title {
        margin-bottom: 4px;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        color: var(--color-black);
      }

      &__descr {
        margin-bottom: var(--grid-gap);
        max-width: 255px;
        text-align: center;
        font-size: 16px;
        line-height: 26px;
      }
    }

    .instruction-item:nth-child(2) {
      transform: translateY(70px)
    }
  }
}
