.tariffs {
  background-color: var(--color-white);
  .tariffs-container {
    padding-top: 100px;
    padding-bottom: 538px;
  }

  &__title {
    margin-bottom: 16px;
    font-size: 46px;
    line-height: 64px;
    text-align: center;
  }

  .section-descr {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }

  .cards {
    &__list {
      @include flex-all-sb;
      flex-wrap: wrap;
    }
    &__item {
      margin-bottom: var(--grid-gap);
      max-width: calc((100% / 3) - var(--grid-gap));
      width: 100%;
    }

    .card-item {
      padding-bottom: 50px;
      @include flex-column-center;
      background: #fcfeff;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
      border-radius: 6px;

      &__head {
        margin-bottom: 40px;
        width: 100%;
        font-weight: 800;
        font-size: 24px;
        line-height: 48px;
        color: var(--color-violet);
        background: rgba(104, 94, 214, 0.05);
        text-align: center;
      }

      &__title {
        margin-bottom: 32px;
        max-width: 255px;
        font-weight: 700;
        font-size: 28px;
        line-height: 40px;
        color: var(--color-black);
        text-align: center;
      }

      &__price {
        margin-bottom: 46px;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: var(--color-black);
      }
    }
  }
}
